{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Автор сайта: Владимир</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      Здесь будет фото. Потом. Когда-нибудь
      <img src="">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <p>Здесь будет информация обо мне</p>
    <p style="color: #f3f3f3">Да, это всё.
      Что это? Лень или минимализм? Неизвестно.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Контакты для связи</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Почта: <a href="mailto: viator3m@gmail.com">viator3m@gmail.com</a></p>
      <p>Телеграм: <a href="https://t.me/viator3m">@viator3m</a></p>
    </div>
  </div>
</div>
{% endblock %}