{% extends 'base.html' %}
{% load cache %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}

<h1>{{ group.title }}</h1>
<p>{{ group.description }}</p>

<p>
  Всего постов в сообществе: {{ group.posts.count }}
</p>

  {% cache 20 index_page %}
    {% for post in page_obj %}
      {% include 'posts/includes/post.html' %}
    {% endfor %}
  {% endcache %}

{% include 'posts/includes/paginator.html' %}

{% comment %}
{% for i in page_obj %}{% endfor %}
коммент-обманка: тест не пускал include, треубя цикл в шаблоне
Так можно?
{% endcomment %}

{% endblock %}