{% extends 'base.html' %}
{% load cache %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
  <div class="mb-5">
    <h1>Все посты пользователя {{ author }} </h1>
    <h3>Всего постов: {{ posts.count }} </h3>

    {% include 'posts/includes/subscribe.html' %}
  </div>

    {% cache 20 index_page %}
    {% for post in page_obj %}
      {% include 'posts/includes/post.html' %}
    {% endfor %}
  {% endcache %}

  {% include 'posts/includes/paginator.html' %}

{% endblock %}
