{% extends 'base.html' %}
{% block title %} Сброс пароля прошел успешно {% endblock %}
{% block content %}
<main>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header text-center">
            Восстановление пароля завершено
          </div>
          <div class="card-body text-center py-3">
            <p>Ваш пароль был сохранен.<br> Используйте его для входа</p>
            <a class="btn btn-link" href="{% url 'users:login' %}">войти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}